* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1500px;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(21, 166, 146, 1) 38%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  padding: 1.5rem;
  position: sticky;
  top: 0;
  background: linear-gradient(
    270deg,
    rgba(21, 166, 146, 1) 38%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
 
}
h1 {
  font-size: 35px;
  color: rgb(233, 207, 146);
  text-shadow: 50px 15px 5px rgb(13, 78, 148);
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: rgb(144, 227, 188);
  font-weight: 600;
  border-radius: 1rem;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav ul li a:hover {
  background-color: rgba(233, 207, 146, 0.337);
  box-shadow: 5px 5px 5px rgb(220, 121, 29);
}

main {
  margin: 20px auto;
  min-height: 77.8vh;
}

img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.locations {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 96, 131);
  padding: 5px;
  border-radius: 10px;
  cursor: zoom-in;
}
.locations p {
  font-size: 1.5rem;
  position: absolute;
  background: rgba(233, 207, 146, 0.6);
  box-shadow: 5px 5px 5px rgba(220, 121, 29, 0.5);
  border-radius: 15px;
  padding: 0.5rem;
  visibility: hidden;
  color: rgb(220, 121, 29);
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

.locations:hover p {
  visibility: visible;
}

footer {
  color: rgb(233, 207, 146);
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    270deg,
    rgba(21, 166, 146, 1) 38%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
